* {
  text-align: center;
  font-family: "Work Sans", sans-serif;
}

body {
  background-color: #f9e1fa;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.job-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.job-left {
  text-align: left;
  margin: 10px;
}

.job-right {
  text-align: right;
}

h4 {
  text-align: left;
  margin: 10px;
}
#sidebar {
  flex: 1;
}

#main-content {
  flex: 3;
  background-color: #e2fae1;
}

li {
  text-align: left;
}

img {
  max-width: 90%;
  height: auto;
}
